name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: 'windows/amd64,windows/arm64'
            name: 'NetworkChecker-Windows'
          - os: macos-latest
            platform: 'darwin/universal'
            name: 'NetworkChecker-macOS'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'
          check-latest: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Build Application
        uses: wailsapp/wails-build-action@v2
        with:
          build-name: ${{ matrix.name }}
          build-platform: ${{ matrix.platform }}
          go-version: '1.25.1'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: build/bin/*
